<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation targetFramework="4.0" />
      <customErrors mode="Off"/>
    </system.web>
  <system.webServer>
    <handlers>
      <add verb="*" path="applications" type="HttpHandler" name="handler"/>    
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="SOFT338_ConnectionString" 
         connectionString="Data Source=xserve.uopnet.plymouth.ac.uk;Initial Catalog=SOFT338_ALea;User ID=Alea;Password=SOFT331_10343337"/>    
  </connectionStrings>
</configuration>
